.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: none;
    box-shadow: none;
}

.card__img {
    width: 200px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0 gray;
}

.card__name {
    margin-bottom: 20px;
    font-weight: 900;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card__rate {
    font-size: 20px;
}